
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <div class="comment">
        <p class="left">
          <% if comment.user.provider.present? %>
            <%= image_tag comment.user.image_url, size: '50x50', class: 'avatar' %>
          <% elsif comment.user.avatar.present? %>
            <%= image_tag comment.user.avatar, size: '50x50', class: 'avatar' %>
          <% else %>
            <%= image_tag  'no_image.png', size: '50x50', class: 'avatar' %>
          <% end %>
          <%= comment.user.name %>さん
          <span class="when"><%= topic.created_at.strftime("%y年%m月%d日 %p %l：%M") %></span>
        </p>
        <p class="left"><%= comment.content %></p>
        <% if current_user.id == comment.user.id %>
          <p class="right when">
            <%= link_to '編集', edit_topic_comment_path(topic, comment) %>
            <%= link_to '削除', topic_comment_path(topic, comment), method: :delete, remote: true, data: {confirm: '本当に削除していいですか？'} %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
