<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <h2>投稿一覧</h2>

    <% @topics.each do |topic| %>
      <div class="post">
        <p>
          <% if topic.user.provider.blank? %>
            <%= image_tag topic.user.avatar, size: '50x50', class: 'avatar' %>
          <% else %>
            <%= image_tag topic.user.image_url, size: '50x50', class: 'avatar' %>
          <% end %>
          <b><%= topic.user.name %>さん</b>が投稿しました
          <span class="when"><%= topic.created_at.strftime("%y年%m月%d日 %p %l：%M") %></span>
        </p>
        <h3 class="topic_title">タイトル：<%= topic.title %></h3>

        <p><%= topic.content %></p>
        <%= link_to '詳細', topic_path(topic) , class: 'btn btn-default btn-xs btn btn-primary'%>
        <% if topic.user_id == current_user.id %>
          <%= link_to '編集', edit_topic_path(topic), class: 'btn btn-default btn-xs btn btn-success' %>
          <%= link_to '削除', topic_path(topic), method: :delete, class: 'btn btn-default btn-xs btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
