<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <%= render partial: 'new' %>
    <% @topics.each do |topic| %>
      <!--自分の投稿か、フォローし合っているユーザーの投稿のみ表示(model/user.rb)-->
      <% if current_user.followed?(topic.user) && current_user.following?(topic.user) || current_user.id == topic.user_id %>
        <div class="post">
          <p>
            <!--mail登録(ユーザー画像あり)、SNS登録、mail登録(ユーザー画像なし）)を分類-->
            <% if topic.user.provider.present? %>
              <%= image_tag topic.user.image_url, size: '50x50', class: 'avatar' %>
            <% elsif topic.user.avatar.present? %>
              <%= image_tag topic.user.avatar, size: '50x50', class: 'avatar' %>
            <% else %>
              <%= image_tag  'no_image.png', size: '50x50', class: 'avatar' %>
            <% end %>
            <b><%= topic.user.name %>さん</b>が投稿しました
            <span class="when"><%= topic.created_at.strftime("%y年%m月%d日 %p %l：%M") %></span>
          </p>
          <h3 class="topic_title">タイトル：<%= topic.title %></h3>
          <p><%= topic.content %></p>
          <%= link_to '詳細', topic_path(topic) , class: 'btn btn-default btn-xs btn btn-primary'%>
          <% if topic.user_id == current_user.id %>
            <%= link_to '編集', edit_topic_path(topic), class: 'btn btn-default btn-xs btn btn-success' %>
            <%= link_to '削除', topic_path(topic), method: :delete, class: 'btn btn-default btn-xs btn-danger' %>
          <% end %>
          <% if topic.comments.count >= 1 %>
            <p class="commets_number">
              <% unless topic.comments.last.user.id == topic.user.id %>
              <%= link_to topic.comments.last.user.name, user_path(topic.comments.last.user) %>さん他、
              <% end %>
              <%= topic.comments.count %>件の<%= link_to 'コメント', topic_path(topic) %>があります
            </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
