<h2>投稿一覧</h2>

<% @topics.each do |topic| %>
  <p>投稿者：<%= topic.name %>さん</p>
  <p>タイトル：<%= topic.title %></p>
  <p>内容：<%= topic.content %></p>
  <%= link_to '編集', edit_topic_path(topic) %>
  <%= link_to '詳細', topic_path(topic) %>
  <%= link_to '削除', topic_path(topic), method: :delete %>
<% end %>
