<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>
    <div class="post">
      <h2>投稿詳細ページ</h2>

      <p class="topic_title"><strong>投稿者</strong></p>
      <p>
        <% if @topic.user.provider.present? %>
          <%= image_tag @topic.user.image_url, size: '50x50', class: 'avatar' %>
        <% elsif @topic.user.avatar.present? %>
          <%= image_tag @topic.user.avatar, size: '50x50', class: 'avatar' %>
        <% else %>
          <%= image_tag  'no_image.png', size: '50x50', class: 'avatar' %>
        <% end %>
        <b><%= @topic.user.name %>さん</b>
      </p>
      <p class="topic_title"><strong>タイトル</strong></p>
      <p class="left"><%= @topic.title %></p>
      <p class="topic_title"><strong>内容</strong></p>
      <p class="letf"><%= @topic.content %></p>
      <p class="topic_title"><strong>投稿日時</strong></p>
      <p class="left"><%= @topic.created_at.strftime("%y年%m月%d日 %p %l時%M分") %></p><br />

      <h3 class="topic_title">コメント一覧</h3>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: {comments: @comments, topic: @topic} %>
      </div><br /><br />
      <%= render partial: 'comments/form', locals: {comment: @comment, topic: @topic} %><br />
      <% if current_user.id == @topic.user_id %>
        <%= link_to '編集', edit_topic_path(@topic) %>｜
      <% end %>
      <%= link_to '戻る', topics_path %>
    </div>
  </div>
</div>
