<div class="container">
  <div class="wrapper">
    <h2>ユーザー一覧</h2>
    <% @users.each do |user| %>
      <% unless user.id == current_user.id %>
        <div class="col-md-3 col-sm-4 col-xs-6 each_user">
          <% if user.provider.present? %>
            <p><%= image_tag user.image_url, size: '70x70' %></p>
          <% elsif user.avatar.present? %>
            <p><%= image_tag user.avatar, size: '70x70' %></p>
          <% else %>
            <p><%= image_tag  'no_image.png', size: '70x70' %></p>
          <% end %>
          <ul>
            <li><b><%= user.name %></b>さん</li>
            <li><span class="email"><%= user.email %></span></li>
            <li><%= link_to '詳細', user_path(user.id) , class: 'btn btn-default btn-xs btn btn-primary user_detail'%></li>
            <li><%= render 'follow_form', user: user %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
