<div class="container">
  <div class="row">
    <h2><%= @user.name %>さんの詳細ページ</h2>
    <div class="col-xs-12">
      <div class="user_info">
        <% if @user.provider.present? %>
          <%= image_tag @user.image_url, size: '70x70' %>
        <% elsif @user.avatar.present? %>
          <%= image_tag @user.avatar, size: '70x70' %>
        <% else %>
          <%= image_tag  'no_image.png', size: '70x70' %>
        <% end %><br /><br />
        <ul>
          <li>E-mail： <%= @user.email %></li>
          <li>投稿数：<%= @post_number %></li>
          <li>コメント数：<%= @comment_number %></li>
          <li>フォロー数：<%= @mentors.count %></li>
          <li>フォロワー数：<%= @fans.count %></li>
        </ul><br />
        <% unless current_user.following?(@user) %>
          <p>
            <%= @user.name %>さんを<%= link_to 'フォロー', users_path %>して、投稿を見たり、メッセージをやりとりしよう！
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @mentors.count >= 1 %>
      <h3><b><%= @user.name %>さん</b>がフォローしているユーザー</h3>
    <% end %>
    <% @mentors.each do |mentor| %>
      <div class="col-sm-6 col-xs-12">
        <div class="each_user">
          <% if mentor.followed.provider.present? %>
            <%= image_tag mentor.followed.image_url, size: '90x90' %>
          <% elsif mentor.followed.avatar.present? %>
            <%= image_tag mentor.followed.avatar, size: '90x90' %>
          <% else %>
            <%= image_tag 'no_image.png', size: '90x90' %>
          <% end %>
          <ul class="user_detail">
            <li><%= mentor.followed.name %></li>
            <li class="email"><%= mentor.followed.email %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% if @fans.count >= 1 %>
      <h3><b><%= @user.name %>さん</b>をフォローしているユーザー</h3>
    <% end %>
    <% @fans.each do |fan| %>
      <div class="col-sm-6 col-xs-12">
        <div class="each_user">
          <% if fan.follower.provider.present? %>
            <%= image_tag fan.follower.image_url, size: '90x90' %>
          <% elsif fan.follower.avatar.present? %>
            <%= image_tag fan.follower.avatar, size: '90x90' %>
          <% else %>
            <%= image_tag 'no_image.png', size: '90x90' %>
          <% end %>
          <ul class="user_detail">
            <li><%= fan.follower.name %></li>
            <li class="email"><%= fan.follower.email %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="links">
    <%= link_to 'ユーザー一覧へ', users_path %>
  </div>
</div>
