<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <h2>パスワードの変更</h2>
    <div class="post">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "変更" %>
        </div>
      <% end %>

      <div class="links">
       <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
