<!DOCTYPE html>
<html>
<head>
  <title>Faceboook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <h1 id="title">faceboook</h1>

  <div class="dropdown" id="dropdown_navi">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% if user_signed_in? %>
        <li><%= link_to '投稿一覧', topics_path %></li>
        <li><%= link_to '新規投稿', new_topic_path %></li>
        <li><%= link_to 'トップページ', root_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'マイページ', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
    </ul>
 </div>
</header>

<%= yield %>

</body>
</html>
